
.wrapper{
  background-color: rgba(17, 16, 16, 0.589);
  position: relative;
  color: white;
  /* font-size: 1.4rem; */
  width: 25rem;
  height: 29rem;
  border-radius: 63px;
  display: flex;
  align-items: center;
  transition: .2s ease;
  overflow: hidden;
}

.wrapper.active{
  height: 34.5rem;
}

.wrapper .form-box{
  width:100%;
  padding: 2.5rem;
}

.wrapper .form-box.registration{
  position: absolute;
  translate: 25rem;
}
.wrapper .form-box.login{
  translate: 0;
  transition:0.27s ease;
}

.wrapper.active .form-box.login{
  translate: -25rem;
  transition: none;
}

.wrapper.active .form-box.registration{
  translate: 0;
  transition:0.27s ease;
}

form h1{
  padding-bottom: 1.3rem;
  text-align: center;
}

form .inputBox{
  position: relative;
  width: 100%;
  height: 50px;
  /* background-color: rgb(255, 255, 0); */
  margin: 2rem 0px;
}

.inputBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:solid rgba(237, 237, 237, 0.802);
  outline: none;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.297);
  font-size: 1.2rem;
  padding: 1rem 3.5rem 1rem 1rem;
}

.inputBox input::placeholder{
  color: rgba(255, 255, 255, 0.368);
}

.inputBox .icon{
  position:absolute;
  /* with this i can move icon and it won;t move strangely.. */
  right: 2rem;
  top: 0.86rem;
}

form .rememberME{
  display: flex;
  justify-content:space-between;
  font-size: 0.9rem;
  margin: 15px 10px 15px;
}
.rememberME label{
  position: absolute;
  left: 65px;
}
.rememberME input{
  accent-color: white;
}

.rememberME a{
  color: white;
  text-decoration-line: none;
}

.rememberME a:hover{
  color: rgba(0, 0, 0, 0.71);
  transition: 0.4ms;
}

form .input {
  width: 100%;
}

#submitButton1{
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0px 1px 3px rgb(61, 61, 61);
  cursor: pointer;
  font-size: 1rem;
  color: rgb(46, 46, 46);
  background-color: white;
  font-weight: bold;
}

#submitButton1:hover{
  color: rgb(53, 53, 53);
  background-color: rgba(255, 254, 254, 0.948);
}

#submitButton2{
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0px 1px 3px rgb(61, 61, 61);
  cursor: pointer;
  font-size: 1rem;
  color: rgb(46, 46, 46);
  background-color: white;
  font-weight: bold;
}

#submitButton2:hover{
  color: rgb(53, 53, 53);
  background-color: rgba(255, 254, 254, 0.948);
}


.loginLink{
  padding-top: 1rem;
  text-align: center;
}

.loginLink a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding-left: 0.5rem;
}

.loginLink p{
  color: white;
}

.loginLink a:hover{
  color: rgba(0, 0, 0, 0.71);
  transition: 0.4ms;
}

.forgot_pass{
  border: none;
  outline: none;
  background: transparent;
  color: white;
  text-decoration-line: none;
  font-size: 0.9rem;
}

.forgot_pass:hover{
  color: rgba(0, 0, 0, 0.71);
  transition: 0.4ms;
  cursor: pointer;
}
/* button */

.registrationLink{
  padding-top: 1rem;
  text-align: center;
}

.registrationLink a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding-left: 0.5rem;
}

.registrationLink p{
  color: white;
}

.registrationLink a:hover{
  color: rgba(0, 0, 0, 0.71);
  transition: 0.4ms;
}